<div class="pet-of-the-day">
  <h2 i18n class="pet-of-the-day__title">Pet of the Day</h2>

  @if (pet && !isPetOfTheDayVisible) {
    <div class="pet-of-the-day__reveal">
      <mat-card-actions class="pet-of-the-day__actions">
        <button i18n matButton="elevated" (click)="showPetOfTheDay()">Reveal it!!</button>
      </mat-card-actions>
    </div>
  } @else if (pet && isPetOfTheDayVisible) {
    <mat-card class="pet-of-the-day__card" appearance="outlined">
      <mat-card-header>
        <div mat-card-avatar class="pet-of-the-day__avatar"></div>
        <mat-card-title>{{ pet.name }}</mat-card-title>
        <mat-card-subtitle>{{ pet.kind }}</mat-card-subtitle>
      </mat-card-header>

      <img 
        appFallBackImage 
        mat-card-image 
        class="pet-of-the-day__image" 
        [src]="pet.photo_url" 
        alt="{{ pet.name }}"
      >

      <mat-card-content class="pet-of-the-day__content">
        <p>
          {{ pet.description || 'No description available.' }}
        </p>
      </mat-card-content>

      <mat-card-actions class="pet-of-the-day__actions">
        <button i18n mat-button (click)="goToDetails()">DETAILS</button>
      </mat-card-actions>
    </mat-card>
  }
</div>
